
<ion-view view-title="Search" class="bg-color-mh" hide-nav-bar="true">
<ion-content has-header="false">

    <!-- <h1 >Search</h1> -->
    <!-- <section class=''>
      Hi
    </section>
    <section class=''>
      Hi
    </section> -->
    <!-- <div id="showcase">
      <img class="cloud9-item small-mh" src="https://placeimg.com/480/480/any" alt="Alt">
      <img class="cloud9-item  small-mh" src="https://placeimg.com/480/480/any" alt="Alt">
      <img class="cloud9-item  small-mh" src="https://placeimg.com/480/480/tech" alt="Alt">
      <img class="cloud9-item  small-mh" src="https://placeimg.com/480/480/any" alt="Alt">
      <img class="cloud9-item  small-mh" src="https://placeimg.com/480/480/any" alt="Alt">
      <img class="cloud9-item  small-mh" src="https://placeimg.com/480/480/nature" alt="Alt">
    </div> -->
<!-- <h2>Eight lib/images, with 20px gap</h2> -->
<div class="carousel height-50p" data-gap="40" on-swipe-left="swipeLeft('carousel')" on-swipe-right="swipeRight('carousel')">
  <figure class="width-30 rotate-sl">
    
    <img src="lib/png/internet.png" ui-sref="app.employee"alt="">
    <img src="lib/png/black-plane.png" alt="" ui-sref="app.employee">
    <img src="lib/png/dropbox-logo.png" alt="" ui-sref="app.employee">
    <img src="lib/png/rupee-indian.png" alt="" ui-sref="app.employee">
    <img src="lib/png/first-aid-kit.png" alt="" ui-sref="app.employee">
    <!-- <img src="lib/png/presentation-1.png" alt="">
    <img src="lib/png/store-2.png" alt="">
    <img src="lib/png/store-3.png" alt="">
    <img src="lib/png/time-passing.png" alt=""> -->
  </figure>
   <nav>
    <!-- <button class="nav prev">Prev</button>
    <button class="nav next">Next</button> -->
  </nav>
</div>
<!-- <div id="cubeTransition">
  <div class="page1 img">
    <img src="lib/images/img1.png" alt="img1" height="100%" width="100%">
  </div>
  <div class="page2 img">
    <img src="lib/images/img2.png" alt="img2" height="100%" width="100%">
  </div>
  <div class="page3 img">
    <img src="lib/images/img3.png" alt="img3" height="100%" width="100%">
  </div>
  <div class="page4 img">
    <img src="lib/images/img4.png" alt="img4" height="100%" width="100%">
  </div>
</div> -->
<div class="carousel h-5" data-gap="5" on-drag="dragged($event,'carousels2')" on-swipe-left="swipeLeft('carousels2')" on-swipe-right="swipeRight('carousels2')">
  <figure class="img_style">
    <img src="lib/images/img1.png" alt="">
    <img src="lib/images/img2.png" alt="">
    <img src="lib/images/img3.png" alt="">
    <img src="lib/images/img4.png" alt="">
  </figure>
  <nav>
    <!-- <button class="nav prev">Prev</button> -->
    <!-- <button class="nav next">Next</button> -->
  </nav>
</div>

   
  </ion-content>
 
</ion-view>
